*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}
html
{
	scroll-behavior: smooth;
}

html, body 
{	
	margin: 0; 
	height: 100%; 	
}

.index
{
	overflow: hidden;
}

#body
{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

hr
{
	border: 1px solid white;
	animation: fadeInLeft;
}

.jumbotron 
{
	height:100%;
	width:100%;
	margin-bottom: 0px;  
}
.jumbo
{
	padding-bottom: 50px;
}

.vertical-center
{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */

  	display: flex;
  	align-items: center;
}

.landtitle
{
	font-family: 'Caveat', cursive;
	color: #3DDB86;
	animation: pulse;
}

#landtext
{
	font-family: 'Roboto Slab', serif;
	color: white;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container
{
	z-index: 1;
}

.btn-custom
{
	color: white;
	border-color: white;
	width: 100px;
}

.btn:hover
{
	color: #3DDB86;
	border-color: #3DDB86;
}

.btn:focus
{
	color: #3DDB86;
	border-color: #3DDB86;
}

a
{
	color: white;
}

a:hover
{
	color: #3DDB86;
}

#navtitle
{
	font-family: 'Caveat', cursive;
	color: white;
	font-size: 50px;
  	text-decoration: inherit; /* no underline */
}

.bg-custom
{
	background-color: #3DDB86;
}

.navbar
{
	z-index: 1;

}

#home
{
	background-color: lightgrey;
}

.banner
{
	height: 100vh;
	position: relative;
	background:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url("../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#onestoptxt
{
	font-size: 60px;
	font-family: 'Roboto Slab', serif;
	color: white;
	text-align: center;
}

#abouttxt
{
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	color: #333;
	text-align: center;
}

#aboutdeets
{
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	color: #333;
	text-align: center;
}

#col
{
	margin: 0 auto;
}

.onestop
{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-left: 50px;
	padding-right: 50px;
}

#navbartxt
{
	font-family: 'Caveat', cursive;
}

.bg-custom
{
	background-color: #3DDB86;
}
#ferst
{
	height:100vh;
	background-color: lightgrey;
	position: relative;
}

#secend
{
	height:100vh;
	background-color: lightgrey;
	position: relative;
	padding-bottom: 10px;
}

.whatandroid
{
	position: relative;
	left: 40%;
	top: 20%;
	transform: translate(-40%, -20%);
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.row
{
	padding:35px;
}

#whattxt
{
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	color: #333;
}

.androidicon
{
	text-align: center;
	padding-top: 200px;
}

#myself
{
	height: 350px;
	width: 350px;
	border-radius: 100%;
}

.imgcont
{
	text-align: center;
	padding-top: 70px;
}

footer
{
	background-color: #3DDB86;
	height: 7vh;
	padding: 10px;
	text-align: center;
}

#therd
{
	height: 100vh;
	background-color: white;
}

.card
{
	display: inline-block;
	border-radius: 30px;
	margin: 20px;
}

#cardmismo
{
	height: 200px;
	width: 200px;
}

.cardo
{
	padding-top: 110px;
	text-align: center;
}

.getstart
{
	text-align: center;
	padding-top: 200px;

}

#started
{
	color: #333;
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
}

.card:hover
{
	border: 1px solid #3DDB86;
}

.alert 
{
	display: none;
}

.btn:focus ~ .alert
{
	display:block;
}

.backtop
{
	text-align: center;
	background-color: white;
	padding-bottom: 25px;
}

#topbutt:hover
{
	background-color: #3DDB86;
}

#topbutt
{
	text-decoration: none;
	color: #333;
	border: 1px solid #333;
	border-radius: 10px;
	padding: 4px;
}

#batimg
{
	height: 250px;
	width: 400px;
}

#contlink
{

	color: #333;
}

#modaline
{

	border: 1px solid #333;

}













































/*media queries*/

/*mobile styling*/
@media only screen and (max-width: 400px)
{
	#onestoptxt
	{
		font-size: 25px;
	}

	#droidicon
	{
		height: 150px;
		width: 150px;
	}

	#whattxt
	{
		font-size: 20px;
	}

	#navbartxt
	{
		font-size: 30px;
	}

	#foot
	{
		font-size: 10px;
	}
	.footer
	{
		padding-bottom: 40px;
	}

	.androidicon
	{
		text-align: center;
		padding-top: 40px;
	}

	#abouttxt,
	#aboutdeets
	{
		font-size: 10px;
	}
	.imgcont
	{		
		padding-top: 30px;
	}

	#myself
	{
		height: 200px;
		width: 200px;
		border-radius: 100%;
	}

	#navbartxt
	{
		font-size: 30px;
	}

	.card
	{
		display: inline-block;
		border-radius: 30px;
		margin: 10px;
	}

	#cardmismo
	{
		height: 80px;
		width: 80px;
	}

	#started
	{
		color: #333;
		font-family: 'Roboto Slab', serif;
		font-size: 15px;
	}

	.cardo
	{
		padding-top: 20px;
		text-align: center;
	}

	.getstart
	{
		text-align: center;
		padding-top: 40px;
	
	}

	#gmaps
	{
		width:220px;
		height:200px;
		padding-top: 20px;
	}

	#batimg
	{

	height: 100px;
	width: 200px;

	}


}
/*tablet styling*/
@media only screen and (min-width: 401px) and (max-width: 960px)
{
	#onestoptxt
	{
		font-size: 40px;
	}

	.androidicon
	{
		padding-top: 300px;
	}

	#droidicon
	{
		height: 250px;
		width: 250px;
	}

	#whattxt
	{
		font-size: 20px;
	}

	#navbartxt
	{
		font-size: 30px;
	}

	#foot
	{
		font-size: 15px;
	}
	.footer
	{
		height: 5vh;
		padding: 10px;
	}

	.contactpg
	{
		height: 100vh;
		padding-top: 10vh;
	}

	#abouttxt,
	#aboutdeets
	{
		font-size: 20px;
	}
	.aboutcontent
	{
		padding-top: 70px;
	}

	.imgcont
	{
		padding-top: 190px;
	}

	#myself
	{
		height: 250px;
		width: 250px;
		border-radius: 100%;
	}

	#navbartxt
	{
		font-size: 50px;
	}

	.card
	{
		display: inline-block;
		border-radius: 30px;
		margin: 15px;
	}

	#cardmismo
	{
		height: 100px;
		width: 100px;
	}

	#started
	{
		color: #333;
		font-family: 'Roboto Slab', serif;
		font-size: 20px;
	}

	.cardo
	{
		padding-top: 150px;
		text-align: center;
	}

	.getstart
	{
		text-align: center;
		padding-top: 150px;
	
	}

	#gmaps
	{
		width:300px;
		height:250px;
		padding-top: 10px;
	}

	#batimg
	{

	height: 150px;
	width: 300px;

	}
	
}

/* large screens */
@media only screen and (min-width: 960px)
{
	#navbartxt
	{
		font-size: 60px;
	}

	#foot
	{
		font-size: 20px;
	}

	#gmaps
	{
		width:470px;
		height:420px;
	}

	#batimg
	{

	height: 150px;
	width: 300px;

	}


}

/* for laptops */
@media only screen and (min-width: 1030px) and (max-width: 1366px)  
{	
	#onestoptxt
	{
		font-size: 40px;
	}

	#droidicon
	{
		height: 250px;
		width: 250px;
	}

	#whattxt
	{
		font-size: 20px;
	}

	#navbartxt
	{
		font-size: 30px;
	}

	#foot
	{
		font-size: 15px;
	}

	#abouttxt,
	#aboutdeets
	{
		font-size: 18px;
	}

	.imgcont
	{
		padding-top: 50px;
	}

	#myself
	{
		height: 250px;
		width: 250px;
		border-radius: 100%;
	}

	#navbartxt
	{
		font-size: 50px;
	}

	.card
	{
		display: inline-block;
		border-radius: 30px;
		margin: 15px;
	}

	#cardmismo
	{
		height: 100px;
		width: 100px;
	}

	#started
	{
		color: #333;
		font-family: 'Roboto Slab', serif;
		font-size: 20px;
	}

	.cardo
	{
		padding-top: 60px;
		text-align: center;
	}

	.getstart
	{
		text-align: center;
		padding-top: 150px;
		
	}

	#gmaps
	{
		width:500px;
		height:450px;
		padding-top: 10px;
	}

	#batimg
	{

	height: 250px;
	width: 400px;

	}
		
}  